doctype html 
html(lang="ko")
    head 
        include partials/head.pug
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header 
            include partials/header.pug
        main
            block content
    include partials/footer.pug