extends base.pug

block content 
    h4 Edit Video "#{video.title}"
    form(method="POST")
        input(name="title", placeholder="Title", type="text", value=video.title, maxlength=80, required)
        input(name="description", placeholder="Description", type="text", value=video.description, minlength=20, required)
        input(name="hashtags", placeholder="Hashtags, separated by comma.", value=video.hashtags.join(), type="text", required)
        input(value="Save", type="submit")